
/*Selector universal */ 

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

/* Ctrl+K+C */
body {
  background: linear-gradient(90deg,rgb(255, 255, 255) 30%, rgba(73, 169, 248, 0.779) 100%)
} 

h1{
    color: rgb(224, 213, 238);
    background-color: rgb(188, 81, 184);
    text-align: center;  
    font-size: 3vw;  /*responsiva*/
}
h3{
    color: rgb(91, 64, 124);
    text-align: left;  
    /* padding: 20px 60px; */
    padding: 10px 60px;
    font-size: 1vw;  /*responsiva*/
}


h4{
  color: rgb(91, 64, 124);
  text-align: left;  
  padding: 10px 50px;
  font-size: 1vw;  /*responsiva*/
} 

ul.lista {

    /*font-size: large;*/
    font-size: 1vw; 
    color: rgb(91, 64, 124);
    list-style-type: square;
    list-style-image: linear-gradient(to left bottom, red, blue);
    padding: 20px 70px;
}

.container{
  /* margin: 10px auto; */
  /* background-color: aliceblue; */
  /* justify-content: center; */
  /* align-content: center; */
  /* flex-wrap: wrap;  */
  /* flex-direction: row;  */
  display: grid; 
  /* display: flex; */
  grid-template-columns:  60% 40%;
 

}

.hijo{
  /* border: 1px dashed white; */
  padding: 5vw;
}

.imagen{
  width: 80%;
  height: inherit;
  padding: 10px; 
  float: right;
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
